.mainpanel{
    height: calc(100% - 80px);
    padding:0 16px;
   
}
.form-container{
    width: 550px;
    background-color:#f4f5f4;
    margin: 50px auto;
    padding:50px 50px;
    z-index: 2;
}
#tablewrapper{
    overflow-x: auto;
    padding:0 33px;
    background-color: aliceblue;
    margin-top: 74px;
}
#usertablebody{
    background-color: azure;
}
 tr .edit i{
     color: rgb(123, 207, 123);
 }
 tr .delete i{
    color: red;
}
tr .edit{
    margin-right: 8px;
}