{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>It - Support</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- <link id="avast_os_ext_custom_font"
        href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css" rel="stylesheet"
        type="text/css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/user.js' %}"> </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-fixed navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">I Gene</a>

        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item ">
                    <a class="nav-link active" href="#tab1" data-toggle="tab">User Mangement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">Add User</a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item ">
                    <a class="nav-link" href="logout">Log Out </a>
                </li>

            </ul>

        </div>
    </nav>
    <!-- <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="#">Active</a>
        <a class="nav-item nav-link" href="#">Link</a>
        <a class="nav-item nav-link" href="#">Link</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </nav> -->

    <main role="main" class="container mainpanel">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h4>User Management</h4>
                <div id="tablewrapper">
                <table class="table table-striped table-hover mt-5"id="usertablebody">
                    <thead>
                        <tr>    
                            <th>Id</th>
                            <th>I Gene Id</th>
                            <th>Email</th>
                            <th>UserName</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Date of Joining</th>
                            <th>UserType</th>
                            <th>Action</th>
                        
                        </tr>
                    </thead>
                    <tbody id="userTable">

                    </tbody>
                </table>
                </div>
                <!-- <table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>Thomas Hardy</td>
						<td>thomashardy@mail.com</td>
						<td>89 Chiaroscuro Rd, Portland, USA</td>
						<td>(171) 555-2222</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox2" name="options[]" value="1">
								<label for="checkbox2"></label>
							</span>
						</td>
						<td>Dominique Perrier</td>
						<td>dominiqueperrier@mail.com</td>
						<td>Obere Str. 57, Berlin, Germany</td>
						<td>(313) 555-5735</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox3" name="options[]" value="1">
								<label for="checkbox3"></label>
							</span>
						</td>
						<td>Maria Anders</td>
						<td>mariaanders@mail.com</td>
						<td>25, rue Lauriston, Paris, France</td>
						<td>(503) 555-9931</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox4" name="options[]" value="1">
								<label for="checkbox4"></label>
							</span>
						</td>
						<td>Fran Wilson</td>
						<td>franwilson@mail.com</td>
						<td>C/ Araquil, 67, Madrid, Spain</td>
						<td>(204) 619-5731</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
						</td>
					</tr>					
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox5" name="options[]" value="1">
								<label for="checkbox5"></label>
							</span>
						</td>
						<td>Martin Blank</td>
						<td>martinblank@mail.com</td>
						<td>Via Monte Bianco 34, Turin, Italy</td>
						<td>(480) 631-2097</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
						</td>
					</tr> 
				</tbody>
			</table> -->
            </div>
            <div class="tab-pane" id="tab2">
                <h3>Add User:</h3>
                <div class="form-container">
                    <form id="userdetails">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Igene_Id" class="col-form-label">Igene_Id:</label>
                                    <input type="text" name="igene_id" class="form-control" id="Igene_Id">
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" name="username" id="username"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">Email:</label>
                                    <input type="email" class="form-control" name="email" id="email"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="designation" class="col-form-label">Designation:</label>
                                    <input type="text" name="designation" class="form-control" id="designation">
                                </div>
                            </div>
                            <div class=col-6>
                                <div class="form-group">
                                    <label for="password" class="col-form-label">Password:</label>
                                    <input type="password" class="form-control" name="password" id="password"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="password2" class="col-form-label">Re-enter Password:</label>
                                    <input type="password" class="form-control" name="password2" id="password2"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="dept" class="col-form-label">Dept:</label>
                                    <input type="text" class="form-control" name="dept" id="dept"></textarea>
                                </div>
                                <div class="form-group mb-5">
                                    <label for="doj" class="col-form-label">DoJ (YYYY-MM-DD) :</label>
                                    <input type="text" name="doj" class="form-control" id="doj">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">UserType</label>
                                </div>
                                <select name="usertype" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="PRODUCTION">production</option>
                                    <option value="PRO-SUP">project supervisor</option>
                                    <option value="PRO-TL">project lead</option>
                                    <option value="PRO-CO">project co-ordinator</option>
                                    <option value="ARTIST">artist</option>
                                    <option value="IT-SUPPORT">it-support</option>
                                </select>
                            </div>

                        </div>


                    </form>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4">
                            <button type="button" id="addUser" class="btn btn-success">Add User</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </main>
    <div class="modal fade" id="deleteEmployeeModal"   tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Delete User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <p>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="button" id="deletebutton" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="editEmployeeModal"   tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Edit User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               
                    <form id="edituserdetails">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Igene_Id" class="col-form-label">Igene_Id:</label>
                                    <input type="text" name="igene_id" class="form-control" id="Igene_Id">
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" name="username" id="username"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">Email:</label>
                                    <input type="email" class="form-control" name="email" id="email"></textarea>
                                </div>

                            </div>
                            <div class=col-6>
                                <div class="form-group">
                                    <label for="designation" class="col-form-label">Designation:</label>
                                    <input type="text" name="designation" class="form-control" id="designation">
                                </div> 
                                <div class="form-group">
                                    <label for="dept" class="col-form-label">Dept:</label>
                                    <input type="text" class="form-control" name="dept" id="dept"></textarea>
                                </div>
                                <div class="form-group mb-5">
                                    <label for="doj" class="col-form-label">DoJ (YYYY-MM-DD) :</label>
                                    <input type="text" name="doj" class="form-control" id="doj">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">UserType</label>
                                </div>
                                <select name="usertype" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="PRODUCTION">production</option>
                                    <option value="PRO-SUP">project supervisor</option>
                                    <option value="PRO-TL">project lead</option>
                                    <option value="PRO-CO">project co-ordinator</option>
                                    <option value="ARTIST">artist</option>
                                    <option value="IT-SUPPORT">it-support</option>
                                </select>
                            </div>

                        </div>


                    </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="button" id="editUserbutton" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <meta name="theme-color" content="#563d7c">

</body>

</html>